<!DOCTYPE html>
<html>
<head>
{if !$useDebugFeatures}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FFZMTYX45Q"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){ dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-FFZMTYX45Q');
    </script>
{/if}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>Talent FAV</title>
    
    <link rel="apple-touch-icon" sizes="180x180" href="{$baseUrl}/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{$baseUrl}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{$baseUrl}/favicon-16x16.png">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/8321f6fdd4.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@v3.0.0/dist/cookieconsent.umd.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@v3.0.0/dist/cookieconsent.css">
    <link href="{$baseUrl}/css/main.css" rel="stylesheet">

    <meta property="og:url" content="https://talent.fav.zcu.cz/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Talent FAV" />
    <meta property="og:description" content="Portál Fakulty aplikovaných věd ZČU pro podporu středoškolských studentů" />
    <meta property="og:image" content="https://talent.fav.zcu.cz/img/logo.svg" />
</head>

<body>
    <script>
        let GLOB_LANG = {$lang};
    </script>
    <script type="module" src="{$baseUrl}/js/cookieconsent-config.js"></script>

    <div class="flash-container">
        <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message} <button type="button" class="btn-close" aria-label="Close"></button></div>
    </div>
    
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                 <div class="col-12 p-3 hdr">
                     <h1 class="d-none d-md-block"><img src="{$baseUrl}/img/logo.svg" alt="Logo FAV" class="topimg" /> {_main.title}</h1>
                     <h1 class="d-block d-md-none text-center"><img src="{$baseUrl}/img/logo.svg" alt="Logo FAV" class="topimg larger" /><br /> {_main.title}</h1>
                     <div class="lang-selector d-none d-md-block">
                        <a n:href="changeLocale! lang=>cs"><img src="{$baseUrl}/img/cs.svg" title="Čeština" alt="Čeština" /></a>
                        <a n:href="changeLocale! lang=>en"><img src="{$baseUrl}/img/en.svg" title="English" alt="English" /></a>
                     </div>
                 </div>
            </div>
        </div>
    </div>
    <div class="container-fluid yellow p-0">
        <nav class="navbar navbar-expand-lg p-0">
            <div class="container justify-content-end">
                <div class="lang-selector d-block d-md-none mobile">
                    <a n:href="changeLocale! lang=>cs"><img src="{$baseUrl}/img/cs.svg" title="Čeština" alt="Čeština" /></a>
                    <a n:href="changeLocale! lang=>en"><img src="{$baseUrl}/img/en.svg" title="English" alt="English" /></a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTalent" aria-controls="navbarTalent" aria-expanded="false" aria-label="Navigation">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse menu" id="navbarTalent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a n:href="Home:"><div class="left">{_main.menu.homepage}</div></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="javascript:void(0);" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <div class="left">{_main.menu.calls}</div>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" n:href="GrabTheLab:">{_main.menu.grabthelab}</a>
                                <a class="dropdown-item" n:href="Scholarship:">{_main.menu.stipendium}</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="javascript:void(0);" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <div class="left">{_main.menu.supports}</div>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" n:href="Events:">{_main.menu.supp_events}</a>
                                <a class="dropdown-item" n:href="Mentoring:">{_main.menu.supp_mentoring}</a>
                                <a class="dropdown-item" n:href="TalentAmbassador:">{_main.menu.talentambassador}</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a n:href="Gallery:"><div class="left">{_main.menu.gallery}</div></a>
                        </li>
                    </ul>

                    <div class="d-flex">
                        {if $user->isLoggedIn()}
                            <span><div class="right">{$user->getIdentity()->email}</div></span>
                            <a n:href="Sign:ature"><div class="right"><i class="fa-solid fa-gear"></i></div></a>
                            <a n:href="logout!" title="{_main.menu.logout}"><div class="right"><i class="fa-solid fa-right-from-bracket"></i></div></a>
                        {else}
                            <a n:href="Sign:in"><div class="right">{_main.menu.signin}</div></a>
                            <a n:href="Sign:up"><div class="right">{_main.menu.signup}</div></a>
                        {/if}
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="container-fluid grey">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {include content}
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid yellow footer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    &copy ZČU 1991 - {date('Y')}
                    {if $user->isLoggedIn() && ($user->isInRole('admin') || $user->isInRole('manager'))}
                    <a class="admin-footer-link" n:href="Admin:">Administrace</a>
                    {/if}
                </div>
            </div>
        </div>
    </div>

    {block scripts}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    
    <script src="{$baseUrl}/js/vendor/jquery.min.js"></script>
    <script src="{$baseUrl}/js/vendor/jquery.nette.js"></script>
    <script src="{$baseUrl}/js/vendor/what-input.js"></script>
    <script src="{$baseUrl}/js/vendor/netteForms.js"></script>
    <script src="{$baseUrl}/js/vendor/live-form-validation.js"></script>

    <script src="{$baseUrl}/js/main.js"></script>
    {/block}
</body>
</html>
