
<div class="row mb-3 g-0">
    <div class="col-2 gtl-nav{if $currentStep >= 1} active{/if}">
        <a href="{plink GrabTheLab:proposalEdit step => 1}">1. {_main.grabthelab.backlink_1}</a>
    </div>
    <div class="col-2 gtl-nav{if $currentStep >= 2} active{/if}">
        <a href="{plink GrabTheLab:proposalEdit step => 2}">2. {_main.grabthelab.backlink_2}</a>
    </div>
    <div class="col-2 gtl-nav{if $currentStep >= 3} active{/if}">
        <a href="{plink GrabTheLab:proposalEdit step => 3}">3. {_main.grabthelab.backlink_3}</a>
    </div>
    <div class="col-2 gtl-nav{if $currentStep >= 4} active{/if}">
        <a href="{plink GrabTheLab:proposalEdit step => 4}">4. {_main.grabthelab.backlink_4}</a>
    </div>
    <div class="col-2 gtl-nav{if $currentStep >= 5} active{/if}">
        <a href="{plink GrabTheLab:proposalEdit step => 5}">5. {_main.grabthelab.backlink_5}</a>
    </div>
    <div class="col-2 gtl-nav{if $currentStep >= 6} active{/if}">
        <a href="{plink GrabTheLab:proposalComplete}">6. {_main.grabthelab.backlink_complete}</a>
    </div>
</div>
