
<div class="row">
    <div class="col-12 mb-3">
        <div class="gtl-round">
            <div class="row">
                <div class="col-sm-12 col-lg-1">
                    <img src="{$baseUrl}/img/grabthelab.jpg" style="width: 100%; height: auto;" class="p-2 p-md-0" />
                </div>
                <div class="col-12 col-md-9">
                    <div class="row">
                        <div class="col-12">
                            <h4 class="text-center text-md-start">
                            {if $round->proposal_start > new \DateTime()}
                            {_main.grabthelab.state_upcoming}
                            {elseif $round->proposal_end > new \DateTime()}
                            {_main.grabthelab.state_active}
                            {else}
                            {_main.grabthelab.state_past}
                            {/if}
                            {_main.grabthelab.call} <span class="text-secondary">Grab the Lab</span> {_main.grabthelab.number} {$round->id}
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {_main.grabthelab.apply_from} {$round->proposal_start|date('j.n.Y H:i')} {_main.grabthelab.apply_to} {$round->proposal_end|date('j.n.Y H:i')}.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {_main.grabthelab.max_proposals}: {if !$round->max_proposals || $round->max_proposals === 0}{_main.grabthelab.unlimited}{else}{$round->max_proposals}{/if}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-2 d-flex align-items-center pt-3 pt-md-0">
                    {if $round->proposal_start < new \DateTime() && $round->proposal_end > new \DateTime()}
                        {if $hasDraft}
                            <a href="{plink GrabTheLab:proposalEdit}" class="btn btn-warning" style="width: 100%; padding: 0.5em 0.3em; text-align: center;">{_main.grabthelab.edit_draft}</a>
                        {elseif $hasProposed}
                            <a href="{plink GrabTheLab:proposalSent}" class="btn btn-warning" disabled style="width: 100%; padding: 0.5em 0.3em; text-align: center;">{_main.grabthelab.proposed_already}</a>
                        {else}
                            <a href="{plink GrabTheLab:proposalCreate}" class="btn btn-warning" style="width: 100%; padding: 0.5em 0.3em; text-align: center;">{_main.grabthelab.apply_now}</a>
                        {/if}
                    {else}
                    {/if}
                </div>
            </div>
        </div>
    </div>
</div>