
{block content}

<div class="row">
    <div class="col-12">

        <h2>{_main.talentambassador.title}</h2>

        <p>{_main.talentambassador.par1}</p>

        <p>{_main.talentambassador.par2}</p>

        <p>{_main.talentambassador.par3|noescape}</p>

        <p>{_main.talentambassador.par4|noescape}</p>

        <p>{_main.talentambassador.par5|noescape}</p>

    </div>
</div>
