title: "Podpora středoškolských studentů"

menu:
    homepage: "Domovská stránka"
    grabthelab: "Grab the Lab"
    stipendium: "Stipendium děkana"
    signin: "Přihlásit se"
    signup: "Registrovat se"
