title: "Podpora středoškolských studentů"

generic:
    not_signed_in: "Pro tuto akci je nutné se přihlásit!"
    insufficient_permissions: "Pro tuto akci nemáte dostatečná oprávnění!"
    no_proposal_active: "Žádný projekt není v editovatelném stavu"
    not_an_email: "Zadejte validní e-mailovou adresu"
    not_a_number: "Zadejte platné číslo"
    invalid_price: "Neplatná cena"
    preparing: "Výzva se připravuje!"

menu:
    homepage: "Domovská stránka"
    grabthelab: "Grab the Lab"
    stipendium: "Stipendium děkana"
    talentambassador: "Talent ambassador"
    signin: "Přihlásit se"
    signup: "Registrovat se"
    userloggedas: "Přihlášen jako"
    logout: "Odhlásit se"

home:
    title: "Portál podpory středoškolských studentů"
    par1: "Vítejte na portálu Fakulty aplikovaných věd pro podporu středoškolských studentů. Na tomto portálu najdete tři hlavní aktivity, které zaštiťuje člověk s funkcí talent ambassador: výzvu Grab the Lab pro poskytnutí laboratoře, Stipendium děkana a podpůrné individuální aktivity pro podporu středoškolských studentů"
    par2: "Fakulta aplikovaných věd poskytuje nespočet dalších aktivit pro střední školy. Jejich kompletní seznam naleznete <a href='https://www.fav.zcu.cz/cs/Partnership/primaryschool.html'>na stránkách FAV</a>. Pravděpodobně Vás může zajímat například <a href='https://www.fav.zcu.cz/cs/Partnership/thematic_work.html'>Středoškolská Odborná Činnost</a>. S jejím výběrem a nalezením vhodného mentora Vám taktéž pomůže talent ambassador."

    grabthelab_title: "Grab the Lab"
    grabthelab_subtitle: "Sháníš laboratoř pro svůj tým? Máme ji pro vás!"
    scholarship_title: "Stipendium děkana"
    scholarship_subtitle: "Potřebuješ finanční podporu pro svůj rozvoj?"
    talentambassador_title: "Talent ambassador"
    talentambassador_subtitle: "Chceš víc, než ti střední škola může poskytnout?"

scope:
    physics: "Fyzika"
    geomatics: "Geomatika"
    informatics: "Informatika a výpočetní technika"
    cybernetics: "Kybernetika"
    mathematics: "Matematika"
    mechanics: "Mechanika"
    buildings: "Stavební inženýrství"

finance_category:
    electronics: "Drobná elektronika"
    courses: "Kurzy a školení"
    minor_tangible: "Drobný hmotný majetek"
    licences: "Licence"
    food: "Strava"
    others: "Ostatní, nezařazené"

output_type:
    software: "Software"
    hardware: "Hardware"
    method: "Metoda, algoritmus"
    procedure: "Postup, metodika"
    literature: "Dokumentace, kniha, výukový materiál"
    others: "Ostatní"

grabthelab:
    title: "Grab the Lab"
    par1: "Sháníš laboratoř pro svůj tým? Chceš mít místo, kde se s cházet s kamarády a pracovat na vašem projektu? Máme pro vás laboratoř, která vůbec není prázdná. Je v ní 5 počítačů, základní kancelářské vybavení, tabule na fixy, klid a teplo, ... a gauč."
    par2: "Co udělat pro to, abyste laboratoř dostali? Až bude další kolo soutěže vyhlášeno, dejte dohromady přihlášku a odešlete ji. My se na ni pak podíváme a zhodnotíme, jestli je možné vám vyhovět. Zohledňovat budeme spousty věcí, takže si na přihlášce dejte záležet!"
    par3: "Níže můžete vidět, jaké projekty jsme již podpořili, jaký projekt aktuálně probíhá a případně zda je zrovna vyhlášen příjem přihlášek."

    current: "Probíhající projekt"
    no_current_call: "Momentálně žádný projekt neprobíhá, ani není otevřena žádná výzva."
    past: "V minulosti jsme podpořili"

    upcoming_round: "Chystáme výzvu"
    active_round: "Aktuálně probíhající výzva"
    no_upcoming: "Momentálně nechystáme žádnou výzvu."
    no_past_projects: "Zatím tu není žádný projekt"

    state_upcoming: "Nastávající"
    state_active: "Aktuální"
    state_past: "Proběhlá"
    call: "výzva"
    number: "číslo"
    apply_from: "Příjem přihlášek od"
    apply_to: "do"
    max_proposals: "Maximální počet přihlášek"
    unlimited: "neomezeno"
    apply_now: "Přihlásit se"
    edit_draft: "Upravit návrh"
    proposed_already: "Zažádáno"

    new_project: "Nový návrh projektu"
    new_project_info: "Nyní vytváříte svůj projekt pro výzvu Grab the Lab. Dejte Vašemu projektu nějaké jméno. Nebojte, jméno půjde upravit."
    edit_project: "Úprava návrhu projektu"
    edit_project_step_1: "Krok 1 - základní informace"
    edit_project_step_2: "Krok 2 - řešitelský tým"
    edit_project_step_3: "Krok 3 - financování"
    edit_project_step_4: "Krok 4 - plán projektu"
    edit_project_step_5: "Krok 5 - výstupy"
    edit_project_step_1_desc: "V tomto kroce nám představte svůj projekt. Budeme po Vás chtít hlavně jeho jméno, zaměření, nějakou Vaši představu a také kontaktní osobu z Vaší školy."
    edit_project_step_2_desc: "Nyní zadejte všechny osoby, které se budou účastnit projektu. Musíme vědět, komu laboratoř půjčujeme, abychom mohli například správně vytvořit přístupové karty a hlavně abychom věděli s kým komunikovat."
    edit_project_step_3_desc: "Finance jsou další velice důležitou položkou. Pokuste se nám rozepsat, na co Vám můžeme poskytnout peníze. Rozdělte je prosím do následujících kategorií:<ul><li>Drobná elektronika - sem patří například Arduino, Raspberry Pi, ESP desky, nebo další moduly k nim připojitelné, kabely, adaptéry a jiné</li><li>Kurzy a školení - pokud si chcete zakoupit nějaký kurz nebo školení, např. z Coursera, Udemy nebo podobných</li><li>Ostatní hmotné vybavení - například nějaké další kacelářské potřeby, pomůcky k projektu a podobně</li><li>Licence - pokud potřebujete licenci na nějaký speciální program a univerzita ji zatím nemá</li><li>Strava - pokud plánujete chodit na obědy do univerzitní menzy, vyhraďte si na to také nějaké peníze (pro představu: jedna porce stojí kolem 110 Kč pro nedotovaného strávníka)</li><li>Ostatní, nespecifikované - pokud potřebujete něco, co se nikam jinam nevejde</li></ul>"
    edit_project_step_4_desc: "Měli byste mít alespoň rámcovou představu o tom, jak se bude projekt vyvíjet a jaké bude mít etapy. Toto není závazné, jde nám jen o představu, jak projekt bude vypadat a co máme očekávat. Typicky můžete zvolit následující schéma:<ul><li>Analýza - prozkoumáme existující metody a způsoby řešení daného problému</li><li>Návrh - navrhneme naše řešení na základě poznatků z analýzy</li><li>Implementace - naprogramujeme, namodelujeme nebo jinak sestavíme naše řešení</li><li>Testování, ověření - ověříme, zda naše řešení funguje jak má, otestujeme na cílovém prostředí</li></ul>"
    edit_project_step_5_desc: "Nakonec se nám pokuste popsat, co bude výstupem Vašeho projektu - jestli to bude nějaký software, metoda nebo jiné věci. Prostě... na co se máme těšit. Příklady:<ul><li>Software - cokoliv co naprogramujete, ať už je to webovka, mobilní aplikace nebo pokusný algoritmus</li><li>Hardware - cokoliv co sestrojíte, spájíte, propojíte</li><li>Metoda, algoritmus - pokud je výstupem nějaký unikátní algoritmus nebo metoda zpracování dat</li><li>Postup, metodika - pokud je výstupem třeba popis výroby nějakého materiálu a podobně</li><li>Dokumentace, kniha, výukový materiál - pokud v projektu vzniknula nějaká dokumentace, návod, výukový materiál nebo cokoliv podobného</li><li>Ostatní - cokoliv, co se jinam nehodí</li></ul>"

    projectlength: "1 měsíc|%count% měsíce|%count% měsíců"

    project_complete: "Shrnutí návrhu projektu"
    project_complete_info: "Váš projekt <b>%project_name%</b> by měl být připraven. Pokud chcete ještě něco upravit, klidně ještě před odesláním návrhu projektu můžete. Jakmile ale návrh odešlete, nebude možné nic měnit."
    backlink_1: "Základní"
    backlink_2: "Tým"
    backlink_3: "Finance"
    backlink_4: "Plán"
    backlink_5: "Výstupy"
    backlink_long_1: "Základní informace"
    backlink_long_2: "Řešitelský tým"
    backlink_long_3: "Financování"
    backlink_long_4: "Plán projektu"
    backlink_long_5: "Výstupy"
    backlink_long_1_comment: "zadali jste správně všechny základní informace? Je jméno projektu finální dle Vašich představ?"
    backlink_long_2_comment: "jsou všechna jména členů týmu správná?"
    backlink_long_3_comment: "nezapomněli jste například uvést nějaké položky, které budete chtít nakoupit?"
    backlink_long_4_comment: "jsou fáze seřazené jak půjdou po sobě? "
    backlink_long_5_comment: "jsou uvedeny všechny plánované výstupy?"
    backlink_complete: "Shrnutí"

    export_pdf: "Exportovat PDF"
    propose_project: "Odeslat projekt!"

    proposal_sent: "Návrh byl odeslán!"
    proposal_sent_info: "Váš projekt <b>%project_name%</b> byl úspěšně odeslán ke schválení. Vyčkejte prosím, až výzva skončí a až všechny projekty vyhodnotíme. Výsledek pošleme na Váš e-mail, který jste uvedli při registraci. Děkujeme!"

    missing_notice: "Váš projekt <b>%project_name%</b> je momentálně v rozpracovaném stádiu. Ještě Vám chybí vyplnit pár věcí, než bude možné projekt odeslat:"
    missing:
        scope: "obor projektu"
        motivation: "motivace vzniku projektu"
        methods: "metody řešení"
        anotation: "anotace projektu"
        length: "délka podpory"
        contact_person_name: "kontaktní osoba"
        contact_person_email: "e-mail kontaktní osoby"
        member_name_0: "vedoucí týmu"
        member_name_1: "zástupce vedoucího týmu"
        finance_items: "financování projektu"
        phases: "fáze projektu"
        outputs: "výstupy projektu"

    form:
        project_name: "Název projektu"
        desc_project_name: "Zvolte si název projektu - můžete zadat i nějaké Vaše jméno, ale vždy připojte i nějaký popis.<br />Příklady (správné):<ul><li>AstroX - odhad typu a výšky mraků ze snímů pořízených z ISS</li><li>Aplikace pro automatickou identifikaci samic hrabáče kapského</li></ul>Příklady (špatné!):<ul><li>SuperApp2024</li><li>Mobilní appka pro děti</li></ul>"
        namelen_alert: "Délka názvu projektu musí být mezi %min% a %max% znaky"
        mandatory: "Toto pole je povinné"
        save: "Uložit"
        continue: "Pokračovat"

        scope: "Obor projektu"
        desc_scope: "Vyberte obor projektu z následujícího výčtu. Příklady, kam spadají jednotlivé projekty:<ul><li>Fyzika - plazma a nanovrstvy, termočlánky, vlnění a radioaktivita</li><li>Geomatika - zeměměřičství, geografické informace a mapové informační systémy</li><li>Informatika a výpočetní technika - programování aplikací, weby, umělá inteligence, informační systémy, elektronika</li><li>Kybernetika - robotika, automatizace, řízení, drony a biologické systémy</li><li>Matematika - teoretická, diskrétní, numerická a jiná matematika, analýza burzy, simulace</li><li>Mechanika - analýza konstrukcí, materiálové inženýrství, pevnost a jiné</li><li>Stavební inženýrství - projektování staveb a moderních budov, návrh konstrukcí a jiné</li></ul>"

        motivation: "Motivace"
        desc_motivation: "Krátce popište motivaci projektu - proč jej vytváříte, jaký je Váš cíl, jaký problém budete řešit. V tomto poli zatím nepopisujte jak jej budete řešit.<br />Například: 'Náš projekt má za cíl pomoci místním zemědělcům se zvýšením úrody, jelikož se dlouhodobě potýkají s problémy nízké úrodnosti, vysokého množství škůdců a zlodějů, kteří kradou kedlubny.'"
        methods: "Přehled metod řešení"
        desc_methods: "Popište, jakými metodami byste rádi problém řešili. Toto pole není závazné, ale vyplňte jej, abychom měli přestavu, do jaké míry jste si vědomi složitosti daného problému.<br />Například: 'Použijeme pokročilé metody umělé inteligence pro analýzu fotografického materiálu, který detekuje pohyb zlodějů a upozorní vlastníka pozemku na nezvaného návštěvníka.'"
        anotation: "Anotace projektu"
        desc_anotation: "Sem patří text, který popíše Váš projekt hodnotící komisi. Zde můžete částečtě duplikovat výše uvedené položky.<br />Například: 'Projekt ZlodějStop slouží jako systém pro ochranu zemědělských ploch před zloději a nezvanými návštěvníky, kteří kradou nebo jinak poškozují úrodu. Použijeme metody umělé inteligence pro detekci narušitelů a včasné varování vlastníků pozemku. Doufáme, že naše řešení pomůže místním farmářům.'"

        length: "Délka projektu"
        desc_length: "Na jak dlouho budete chtít laboratoř zapůjčit? Pozor, i tato položka má vliv na rozhodování o tom, koho podpoříme. Pokuste se odhadnout reálnou časovou náročnost projektu."

        contact_person_name: "Jméno kontaktní osoby z personálu Vaší školy"
        desc_contact_person_name: "Sem napište kontaktní osobu z pedagogického sboru Vaší školy. Tento údaj potřebujeme proto, abychom mohli dohodnout nějaké formality a samozřejmě abychom pak Váš tým měli u koho chválit. Může to být například Váš třídní učitel nebo učitel informatiky."
        contact_person_email: "E-mail kontaktní osoby z personálu Vaší školy"
        desc_contact_person_email: "Sem napište e-mail výše uvedené osoby, na kterém je k zastižení."

        team_leader: "Vedoucí týmu"
        team_leader_assistant: "Zástupce vedoucího týmu"
        team_member: "Člen týmu č."
        member_name: "Jméno a příjmení"
        member_school: "Název školy"
        member_class: "Třída"
        team_member_optional: "nepovinné"

        fin_item_header: "Finanční položky"
        finance_item_add: "Přidat další"
        finance_item_remove: "Odstranit"

        finance_name: "Název položky"
        finance_category: "Kategorie"
        finance_price: "Odhadovaná cena"

        phase_item_header: "Fáze projektu"
        phase_name: "Název fáze"
        phase_description: "Popis fáze"

        phase_item_add: "Přidat další"
        phase_item_remove: "Odstranit"

        output_item_header: "Výstupy projektu"
        output_name: "Název výstupu"
        output_type: "Typ výstupu"
        output_description: "Popis výstupu"

        output_item_add: "Přidat další"
        output_item_remove: "Odstranit"

scholarship:
    title: "Stipendium děkana"
    par1: "Tuto výzvu pro Vás teprve připravujeme. Buďte prosím trpěliví, ladíme všechny detaily tak, aby podmínky byly férové pro všechny!"
    par2: "Stipendium děkana je výzva pro středoškolské studenty, kteří potřebují dodatečné prostředky na splnění jejich profesních snů. Fakulta aplikovaných věd ráda podpoří studenty plné nadějí a ambicí, aby jejich nadšení nevyhaslo a mohli se věnovat tomu, co mají rádi."

talentambassador:
    title: "Talent ambassador"
    par1: "Chceš víc, než ti je schopná střední škola dát? Máš zájem o vědu a techniku, rád rozvíjíš své znalosti a schopnosti? Chceš spolupracovat s experty v dané problematice? Chceš se propojit s univerzitním prostředím ještě před tím, než na univerzitě začneš studovat?"
    par2: "Stačí jít naproti, my už na tebe čekáme. Každý má talent, pomůžeme ti objevit ten tvůj."
    par3: "S čím ti může talent ambassador pomoci?<ul><li>máš zajímavý projekt a chceš ho posunout dál</li><li>chceš se naučit něco nového</li><li>zajímá tě nějaký konkrétní obor a chceš odborného mentora</li><li>vybíráš si téma Středoškolské odborné činnosti (SOČ) nebo maturitní práce, ale nevíš si rady</li><li>chceš se podívat na FAVku, třeba do nějaké laboratoře</li><li>chceš se pochlubit s nějakým svým projektem</li><li>a mnoho dalšího...</li></ul>"
    par4: "Neboj se ozvat, čekáme na tebe."
    par5: "<b>Ing. Martin Úbl</b><br /><i>Talent ambasador</i><br />Discord: martinubl<br />E-mail: <a href='mailto:talent@fav.zcu.cz'>talent@fav.zcu.cz</a>"

signup:
    title: "Registrace"
    fullname: "Vaše celé jméno"
    fullname_placeholder: "např. Jan Novák"
    fullname_required: "Zadejte Vaše jméno!"
    email: "E-mail"
    email_placeholder: "např. jan.novak@skola.cz"
    email_required: "Zadejte Váš e-mail!"
    email_invalid: "Neplatný e-mail!"
    password: "Heslo"
    password_placeholder: "např. **********"
    password_required: "Zvolte si heslo!"
    password_min_length: "Minimální délka hesla je 8 znaků!"
    password_again: "Heslo znovu (pro ověření)"
    password_again_placeholder: "např. **********"
    passwords_must_match: "Zadaná hesla se neshodují!"
    submit: "Registrovat se"

    or_text: "nebo můžete použít alternativní způsob registrace"
    google: "Registrace pomocí Google"

    success: "Byl/a jste úspěšně registrován/a!"
    user_already_exists: "Uživatel s touto e-mailovou adresou již existuje"
    unknown_error: "Nastala neznámá chyba. Zkuste to prosím později."

signin:
    title: "Přihlásit se"
    email: "E-mail"
    email_placeholder: "např. jan.novak@skola.cz"
    email_required: "Zadejte Váš e-mail!"
    email_invalid: "Neplatný e-mail!"
    password: "Heslo"
    password_placeholder: "např. **********"
    password_required: "Zadejte přihlašovací heslo!"
    submit: "Přihlásit se"

    or_text: "nebo můžete použít alternativní způsob přihlášení"
    google: "Přihlásit se pomocí Google"

    invalid_credentials: "Neplatné přihlašovací údaje!"
    unknown_error: "Nastala neznámá chyba. Opakujte prosím pokus později."
    success: "Byl/a jste úspěšně přihlášen/a!"
