parameters:
    googleauth:
        client_id: 464673265455-ro11ulv6vvje3qivtju07q49b35g8bc7.apps.googleusercontent.com
        client_secret: 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

application:
    errorPresenter: Error
    mapping:
        *: App\*Module\Presenters\*Presenter

latte:
    strictTypes: yes

session:
    expiration: 14 days

di:
    export:
        parameters: no
        tags: no

extensions:
    translation: Contributte\Translation\DI\TranslationExtension

translation:
    locales:
        whitelist: [en, cs]
        default: cs
        fallback: [cs]
    dirs:
        - %appDir%/lang
    returnOriginalMessage: true
    localeResolvers:
        - Contributte\Translation\LocalesResolvers\Header