
{block content}

<div class="row">
    <div class="col-12">

        <h2>{_main.gallery.title}</h2>

        <p>{_main.gallery.par1}</p>

        <h4 class="preparing m-4">{_main.generic.preparing_section}</h4>

        <p>{_main.gallery.par2, ['event_link' => $presenter->link("Events:"), 'mentor_link' => $presenter->link("Mentoring:")]|noescape}</p>

    </div>
</div>
