
{block content}

<div class="row">
    <div class="col-12">

        <h2>{_main.scholarship.title}</h2>

        <p>{_main.scholarship.par1}</p>

        <h4 class="preparing m-4">{_main.generic.preparing}</h4>

        <p>{_main.scholarship.par2}</p>

    </div>
</div>
