/* roboto-condensed-regular - latin-ext_latin */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("roboto-condensed-v24-latin-ext_latin-regular.woff2") format("woff2"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* roboto-condensed-700 - latin-ext_latin */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("roboto-condensed-v24-latin-ext_latin-700.woff2") format("woff2"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* open-sans-regular - latin-ext_latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("open-sans-v27-latin-ext_latin-regular.woff2") format("woff2"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* open-sans-700 - latin-ext_latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("open-sans-v27-latin-ext_latin-700.woff2") format("woff2"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
body {
  font-family: "Open Sans";
  color: #173868;
}

.container-fluid.grey {
  padding-top: 1em;
  background-color: #f2f5fa;
}
.container-fluid.yellow {
  background-color: #e0b100;
  color: white;
}

.headerrow {
  border-bottom: 3px solid #e0b100;
}

.topimg {
  height: 1em;
}

.footer {
  padding: 1em 0;
  font-size: 0.8em;
}

.hdr {
  position: relative;
}

.preparing {
  font-size: 2.5em;
  text-align: center;
  color: #e0b100;
}

.lang-selector {
  position: absolute;
  top: 50%;
  right: 0;
}
.lang-selector img {
  width: 1em;
  height: 1em;
}

h1 {
  display: inline-block;
  font-family: "Roboto Condensed";
  color: #e0b100;
  text-transform: uppercase;
  font-size: 2.8em;
}

h2, h3, h4, h5 {
  font-family: "Roboto Condensed";
  color: #173868;
  text-transform: uppercase;
}

div.menu {
  list-style: none;
  padding-left: 0;
  font-size: 0.95em;
}
div.menu div {
  margin-bottom: 0.3em;
  padding: 0;
  margin: 0;
}
div.menu div.left {
  float: left;
}
div.menu div.right {
  float: right;
}
div.menu a, div.menu span {
  text-transform: uppercase;
  line-height: 2em;
  font-weight: 600;
  text-align: center;
}
div.menu a div, div.menu span div {
  padding: 0.4em 2em 0.4em 2em;
}
div.menu a {
  font-family: "Roboto Condensed";
  color: white;
  text-decoration: none;
  margin-left: 0;
  margin: 0;
}
div.menu a:hover {
  color: #757575;
}
div.menu a:hover div {
  background-color: white;
}
div.menu span {
  font-family: "Roboto Condensed";
  color: white;
  text-decoration: none;
  margin-left: 0;
  margin: 0;
}

.content-block {
  width: 100%;
  height: 100%;
  margin: 1em;
  padding: 1em;
  background-color: white;
}

.btn, .form-label {
  font-family: "Roboto Condensed";
  text-transform: uppercase;
}

.form-parent {
  position: relative;
}

.form-control, .form-select {
  background-color: #FFF1C0;
  color: black;
  font-family: "Roboto Condensed";
}

.form-control:focus, .form-select:focus {
  border-color: #e0b100;
  background-color: #FFF1E0;
  box-shadow: 0 0 0 0.25rem rgba(240, 210, 0, 0.25);
}

.form-error-message {
  display: block;
  position: absolute;
  overflow: visible;
  top: 0.2em;
  right: 0;
  color: red;
  font-size: 0.8em;
}

.flash-container {
  z-index: 999;
  position: fixed;
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}

.flash {
  display: block;
  margin-bottom: 0.5em;
  border-radius: 4px;
  padding: 0.5em 4em 0.5em 2em;
  position: relative;
}
.flash.success {
  border: 2px solid green;
  background-color: #BBFFBB;
  color: #004400;
}
.flash.error {
  border: 2px solid red;
  background-color: #FFBBBB;
  color: #440000;
}
.flash .btn-close {
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
}

.banner {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  position: relative;
}
.banner.grabthelab {
  background: url("../img/grabthelab.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.banner.scholarship {
  background: url("../img/scholarship.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.banner.talentambassador {
  background: url("../img/talentambassador.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.banner .wrapper {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 70%;
  background-color: #e0b100;
  color: white;
  padding: 1em;
  transition: top ease-in 0.1s;
}
.banner .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #e0b100;
  opacity: 0.5;
  transition: opacity linear 0.1s;
}
.banner:hover .wrapper {
  top: 50%;
}
.banner:hover .overlay {
  opacity: 0;
}
.banner .title {
  font-size: 1.5em;
  text-align: center;
  font-family: "Roboto Condensed";
  text-transform: uppercase;
}
.banner .subtitle {
  font-size: 0.8em;
  text-align: center;
  font-family: "Roboto Condensed";
  text-transform: uppercase;
}

.admin-footer-link {
  float: right;
  color: white;
}

.admin-sec-btn {
  display: block;
  width: 100%;
  padding: 0.2em;
  border: 3px solid #e0b100;
  text-align: center;
  color: #e0b100;
  font-family: "Roboto Condensed";
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1;
  transition: color linear 0.2s, background-color linear 0.2s;
  font-size: 1.7em;
}
.admin-sec-btn .smaller {
  font-size: 0.6em;
}
.admin-sec-btn:hover {
  color: white;
  background-color: #e0b100;
}

.gtl-round {
  display: block;
  width: 100%;
  padding: 1em;
  border: 3px solid #e0b100;
  font-family: "Roboto Condensed";
}

.description {
  font-size: 0.9em;
  font-style: italic;
}

.gtl .form-label {
  display: block;
  width: 100%;
  padding-top: 0.5em;
  font-size: 1.5em;
  border-bottom: 2px solid #e0b100;
}
.gtl .form-label.smaller {
  font-size: 0.8em;
}

.gtl-nav {
  border: 2px solid #e0b100;
  border-left: none;
  padding: 0.2em;
  text-align: center;
}
.gtl-nav:first-child {
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}
.gtl-nav:last-child {
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}
.gtl-nav.active {
  background-color: #e0b100;
}
.gtl-nav.active a {
  color: white;
  text-decoration: none;
}
.gtl-nav a {
  color: #757575;
  text-decoration: none;
  width: 100%;
  display: block;
}

/*# sourceMappingURL=main.css.map */
